:root {
    --roxo: rgb(146, 13, 146);
    --roxoclaro: rgba(148, 83, 148, 0.925);
    --bgpreto: rgba(0, 0, 0, 0.918);
}
@keyframes fading {
    0% {
        color: sandybrown;
    }
    90% {
        color: var(--roxo);
    }
    100% {
        color: sandybrown;
    }
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
body {
    max-width: 100%;
    height: 100%;
    background-color: var(--bgpreto);
}
.container {
    background-color: transparent;
    height: 100vh;
    max-width: 980px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-calc {
    display: flex;
    flex-direction: column;
    width: 450px;
    overflow: hidden;
}
.title {
    margin-bottom: 30px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1{
    font-size: 3.8rem;
    color: var(--roxo);
    text-shadow: rgba(255, 255, 255, 0.281) 1px 1px 5px;
}
h1 > span {
    animation: 3s ease-in-out 2s infinite fading;
}
.display {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 90px;
    border: 1px solid var(--roxo);
    border-radius: 10px;
    margin-bottom: 20px;
    overflow: hidden;
}
.display > #visor {
    color: rgba(255, 255, 255, 0.808);
    font-size: 3.8rem;
    margin: 0 10px;
}
.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}
.buttons button {
    width: 100%;
    padding: 20px;
    flex: 1;
    color: white;
    background-color: transparent;
    border: 1px solid var(--roxo);
    border-radius: 10px;
    font-size: 2.5rem;
    outline: none;
}
.buttons button:hover {
    background-image: radial-gradient(circle, #945394, #944794, #933993, #932893, #920d92);
    box-shadow: 2px 2px 8px 1px var(--roxo);
}
.buttons button:active {
    background-image: radial-gradient(circle, #920d92, #932893, #933993, #944794, #945394);
}
.col-3 {
    grid-column: span 3;
}
.col-2 {
    grid-column: span 2;
}
.fade-in-out {
    opacity: 0;
}

@media only screen and (max-width: 750px) {
    .container-calc {
        width: 300px;
    }
    .display {
        height: 60px;
    }
    .display > #visor {
        font-size: 2.8rem;
    }
    .buttons button {
        padding: 10px;
        font-size: 2rem;
    }
    h1{
        font-size: 2.5rem;
    }
    
}